<section class="section section-light-grey is-medium"> <a id="section5"></a>
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">Comunicate con nosotros</h2>
      
      
      <div class="divider is-centered"></div>
    </div>
    
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="title-wrapper has-text-centered">
          <h3 class="subtitle is-5 is-muted">Llamadas</h3>
          <h3 class="subtitle is-5 is-muted"><a href="tel:+57-3106418025">Toca para llamarnos! (305)302-3820</a></h3>
          <h3 class="subtitle is-5 is-muted"><a href="tel:+57-3106418025">Toca para llamarnos! (737)701-7115</a></h3>
        </div>
      </div>
      <div class="column is-half">
        <div class="title-wrapper has-text-centered">
          <h3 class="subtitle is-5 is-muted">SMS</h3>
          <h3 class="subtitle is-5 is-muted"><a href="sms:+57-3106418025">Toca para mensajes! (305)302-3820</a></h3>
          <h3 class="subtitle is-5 is-muted"><a href="sms:+57-3106418025">Toca para mensajes! (737)701-7115</a></h3>
        </div>
        </div>
    </div>
    
    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form>
            <div class="columns is-multiline">
              <div class="column is-6">
                <input class="input is-medium" type="text" placeholder="Tu nombre">
              </div>
              <div class="column is-6">
                <input class="input is-medium" type="email" placeholder="Tu Correo Electronico">
              </div>
              <div class="column is-12">
                <textarea class="textarea" rows="10" placeholder="Escribe algo..."></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button class="button cta is-large primary-btn raised is-clear">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>